@keyframes pedal {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -360px 0;
  }
}

@keyframes move {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(100px);
  }
}

h1:after {
  content: '';
  width: 90px;
  height: 92px;
  background-image: url(bike.png);
  display: block;
  margin: auto;
  animation:
    0.4s steps(4, end) infinite 50ms pedal,
    8s linear infinite 50ms move;
  animation-play-state: paused;
}

h1:hover:after {
  animation-play-state: running;
}

.myCanvas {
  border: dotted 2px black;
}